body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6fad3;
    color: black;
}

h1{
    color: #1d8613 ;
    background-color: rgb(2, 58, 11);
    padding: 10px;
}
#prp{
    color: white;
    text-align: center;
}

.basico{
    text-align: center;
    padding: 10px;
    color: #1d8613 ;
}
.inter{
    text-align: center;
    padding: 10px;
    color:#867a13 ;
}
.avan{
    text-align: center;
    padding: 10px;
    color: #861313;
}